
-- New Schema Migration Content - Based on previous structure inferred from old migrations

-- 1. Create interaction_type ENUM (for ping_interactions)
CREATE TYPE public.interaction_type AS ENUM (
LIKE, REPOST);

-- 2. Profiles Table (Assumed structure based on use)
CREATE TABLE IF NOT EXISTS public.profiles (
    id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
    username TEXT UNIQUE NOT NULL,
    bio TEXT,
    avatar_url TEXT,
    is_admin BOOLEAN DEFAULT false -- Added from previous migration
);

-- 3. Pings Table (Renamed from posts)
CREATE TABLE IF NOT EXISTS public.pings (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    content TEXT NOT NULL,
    image_url TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone(utc::text, now()) NOT NULL
);

-- 4. Friendships Table (Inferred from src/types.ts)
CREATE TABLE IF NOT EXISTS public.friendships (
    user_a_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    user_b_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    status TEXT NOT NULL CHECK (status IN (pending, accepted, blocked)),
    PRIMARY KEY (user_a_id, user_b_id),
    CHECK (user_a_id != user_b_id)
);

-- 5. Notifications Table (Inferred from src/types.ts)
CREATE TABLE IF NOT EXISTS public.notifications (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    recipient_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    message TEXT NOT NULL,
    type TEXT NOT NULL CHECK (type IN (friend_request, post_like, mention)),
    read BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone(utc::text, now()) NOT NULL
);

-- 6. Ping Interactions Table (From previous migration)
CREATE TABLE IF NOT EXISTS public.ping_interactions (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    ping_id UUID REFERENCES public.pings(id) ON DELETE CASCADE NOT NULL,
    user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    interaction_type public.interaction_type NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone(utc::text, now()) NOT NULL,
    UNIQUE (ping_id, user_id, interaction_type)
);

-- 7. RLS Policies (Basic Select/Insert/Delete for interactions)
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Users can view their own profile." ON public.profiles FOR SELECT USING (auth.uid() = id);
CREATE POLICY "Users can update their own profile." ON public.profiles FOR UPDATE USING (auth.uid() = id);

ALTER TABLE public.pings ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Users can view all pings." ON public.pings FOR SELECT USING (true);
CREATE POLICY "Users can insert their own ping." ON public.pings FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can update/delete their own pings." ON public.pings FOR UPDATE,DELETE USING (auth.uid() = user_id);

ALTER TABLE public.ping_interactions ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Ping interactions are viewable by everyone" ON public.ping_interactions FOR SELECT USING (true);
CREATE POLICY "Users can insert a new interaction" ON public.ping_interactions FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can delete their own interaction" ON public.ping_interactions FOR DELETE USING (auth.uid() = user_id);

-- Note: Full RLS for friendships/notifications and helper functions are omitted for brevity but should be added in a proper migration.

